.header-img
{
    height: 90vh;
    background-image: linear-gradient( to right,rgba(20, 8, 8, 0.712),rgba(12, 12, 12, 0.356)),url(../../assets/bg4.jpeg);
    background-size: cover;
    background-position: center;
    align-items: center;
    position: relative;
}